[access]
	inheritFrom = All-Projects
[project]
	description = This component is designed for the engine management in Holmes. It's mainly responsible for starting and stopping the rule engine. This component can be extended if the number of alarms exceeds the processing limit.\n\nRead-only as per IT-26907
	state = read only
[access "refs/*"]
	read = deny group GitHub Replication
	owner = group saml/onap-gerrit-holmes-engine-management-committers
[plugin "its-jira"]
	enabled = true
