[access]
	inheritFrom = holmes
[project]
	description = This component is designed for the engine management in Holmes. It's mainly responsible for starting and stopping the rule engine. This component can be extended if the number of alarms exceeds the processing limit.
[access "refs/*"]
	read = group GitHub Replication
[allowSuperproject "doc"]
	matching = refs/heads/master:refs/heads/master
